
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
}

h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
}

h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  padding-left: 16px;
  /* line-height: 1; */
  margin-bottom: 20px;

}

a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--blue);
  line-height: 32px;
  .logo-text1{
    font-weight: 1000;
  }
}

p {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.button {
  padding: 8px ;
  justify-content: center;
  background-color:#555;
  color: var(--base-100);
  /* border-radius: 10px; */
  transition: ease 0.3s all;
  &:hover ;
  -webkit-transition: ease 0.3s all;
  -moz-transition: ease 0.3s all;
  -ms-transition: ease 0.3s all;
  -o-transition: ease 0.3s all;
{
    background-color: black;
  }
  &:active {
    background-color: red;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

header {
  /* padding-top: 16px;
  padding-bottom: 16px; */
  display: flex;
  height: 64px;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid;

  .logo-holder {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 300px;
    color: black;
    justify-content: flex-start;

    .logo {
      display: flex; 
      justify-content: center;
      font-size: 32px;
      height: 32px;
      width: 64px;
    }
    .logo-text {
      flex: 1;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
    margin-bottom: 16px;
    ul {
      display: flex;
      list-style-type: none;
      gap: 5px;
      li {
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--base);
          &:hover {
            background-color: var(--base-100);
            border-radius: 10px;
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      padding: 10px;
      
      @media (max-width: 480px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    nav {
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}

section {
  max-width: 1440px;
  /* margin: auto; */
  gap: 30px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}



/* HERO SECTION */

/* Hero section layout  with flex */
.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .hero-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .hero-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
  }
}
/*
/* Hero section layout styling with grid */
/* .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .hero-first {
    display: grid;
    align-content: center;
  }
} */

/* Hero section content styling */
.hero {
  background-color: rgba(206, 190, 182, 0.623);
  .hero-first {

    border-radius: 30px;
    padding : 32px 24px 32px 24px;
    .call-to-action {
      margin-top: 8px;
      margin-bottom: 8px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .hero-second {
    /* border-radius: 30px; */
    padding: 30px 30px;
    .Lorem{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    img {
      object-fit: cover;
    }
    .call-to-action{
    width: 500px;
    }
  }
}

/* Hero2 section layout with flex ................................................................................*/

.hero2 {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .hero-first2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    flex:60%;
    .text-hero-first2{
        display:flex;
        flex-direction: column;
        align-content: space-between;
     
    }
  }
  .hero-second2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex:40%;
    .Learn2{
        display: flex;
       
        .Left{
            display: flex;
            flex:35%;
            padding: 16px;
        }

        .Right{
            display: flex;
        
            flex:65%;
            align-content:end;       
            flex-direction: column;     
            gap: 8px;

        }
    }
  }
}


/* Hero2 section content styling ...........................................................................................*/

.hero2 {
  background-color: rgb(253, 253, 253);
  .hero-first2 {
    border-radius: 30px;
    padding : 32px 24px 32px 24px;
    .it{
      
        font-size: 32px;
        padding-bottom: 32px;
    }
    .cura {
     
        padding-bottom: 32px;
    }

  }
  .hero-second2 {
    display: flex;
    ju
    padding: 30px 30px;
    img {
      object-fit: cover;
    }
   
    color: var(--base);
    .Learn2{
        &:hover {
            background-color:#c7c5c5;
            border-radius: 10px;
          }
    }
    
  }
}

/* Featured section layout with flex......................................................................................... */

.featured {
    .start{
        display: flex;
        font-size: 48px;
        font-weight: 600;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
  .burgers {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    article {
        display: flex;
        flex-direction: column;
        margin: 12px;
        &:hover {
            background-color:#c7c5c5;
            border-radius: 10px;
          }
        img {
            object-fit: cover;
          }
      flex: 1;
      .text1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 16px ;
        .course {
            padding-left: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .web {
            padding-left: 16px;
            margin-bottom: 24px;
        }
        
      }
    }
  }
}

/* Featured content styling................................................................................................ */

.featured {
 


  article {
 
    .text1{
  
      }
  }
}

/* ..............section5...Lay out........ */

.thesis {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 12px;
}

/* ................footer............. */
footer{
    display: flex;
    justify-content: space-between;
}